---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Blog & Newsletter">
  <div>
    <h1>Coming Soon...</h1>
  </div>
</Layout>

<style>
  div {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }
</style>
