---
import Project from "../components/home/Project.astro"
import client from "../lib/prismic"
import Layout from "../layouts/Layout.astro"

const projects = await client.getAllByType("project", {
  orderings: {
    field: "my.project.creation_date",
    direction: "desc",
  },
})
---

<Layout title="Keeghan McGarry - Projects">
  <div class="wrapper">
    <h1>Projects</h1>
    <div class="projects">
      <h2>Primary</h2>
      {
        projects.map((project) =>
          project.data.primary ? <Project project={project} /> : null
        )
      }
    </div>
    <div class="projects">
      <h2>Secondary</h2>
      {
        projects.map((project) =>
          project.data.primary ? null : <Project project={project} />
        )
      }
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    padding-top: 150px;
    max-width: min(100% - 3rem, 80ch);
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  h1 {
    color: #eb3a02;
    font-size: 3rem;
  }
  h2 {
    color: #eb3a02;
    font-size: 2rem;
  }
  .projects {
    --startCol: green;
    --endCol: blue;
    max-width: min(100% - 3rem, 80vw);
    margin: auto;
  }
</style>
