---
import Project from "../components/home/Project.astro"
import client from "../lib/prismic"
import Layout from "../layouts/Layout.astro"

const projects = await client.getAllByType("project", {
  orderings: {
    field: "my.project.creation_date",
    direction: "desc",
  },
})
---

<Layout title="Keeghan McGarry - Projects">
  <div class="wrapper">
    <h1>Projects</h1>
  </div>
  <div
    class="projects"
    data-masonry='{ "itemSelector": ".project", "columnWidth": 350, "gutter": 40, "horizontalOrder": true, "transitionDuration": 0 }'
  >
    {projects.map((project) => <Project project={project} />)}
  </div>
</Layout>

<script>
  import masonry from "../lib/masonry"
</script>

<style>
  .wrapper {
    padding-top: 150px;
    max-width: min(100% - 3rem, 80ch);
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  h1 {
    color: #eb3a02;
    font-size: 3rem;
  }
  .projects {
    --startCol: green;
    --endCol: blue;
    max-width: min(100% - 3rem, 80vw);
    margin: auto;
  }
</style>
