---
---

<div class="hero">
  <div class="title">
    <h1>Keeghan McGarry</h1>
    <h3>Tech • Product • Business • AI • Passion</h3>
  </div>
</div>

<style>
  .hero {
    height: 70vh;
    display: grid;
    place-items: center;
    background: radial-gradient(rgba(255, 0, 255, 0.2), transparent);
  }
  .hero .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .title h1 {
    color: #eb3a02;
  }
</style>
